.card {
  scroll-snap-align: center;
  flex: none;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  overflow: hidden;
  background-color: #2A3238;
  z-index: 5;
}

.cardContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    justify-content: flex-end;
    padding: 2rem 1.5rem 2rem 1.5rem;
    width: 100%;
    height: 100%;
    background-color: #2A3238;
    color: #ffffff;
}

.inputForm{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}